<main
  class="min-w-full bg-[#fdf6f6] flex justify-center items-center mt-[70px] flex-col"
>
  <div class="w-full flex, justify-start">
    <h1 class="font-bold">Cart ID: {{id}}</h1>
  </div>
  <div>
    {{#each getProducts}}
      <div class="flex justify-center gap-4">
        <p> ID:{{this.id}}</p>
        <p>Cantidad: {{this.quantity}}</p>
      </div>

      <div class="flex gap-5 items-center">
        <div class="w-11">
          <img src="{{this.product.thumbnail}}" alt="" />
        </div>
        <p>Categoría: {{this.product.category}}</p>
        <p>Nombre: {{this.product.title}}</p>
        <p>Precio: {{this.product.price}}</p>
      </div>

    {{/each}}
  </div>
</main>