<div>
  <h2>TODOS LOS PRODUCTOS</h2>
  <br /><br />
  {{#each products}}

    <h3>{{this.title}} </h3>
    <p> ----------------------------------------------------</p>
    <img src="{{this.thumbnail}}" alt="imagen del producto" />
    <h4>Precio: ${{this.price}}</h4>
    <h5>{{this.description}}</h5>
    <p>ID: {{this.id}}</p>
    <p> ----------------------------------------------------</p>

  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>