<div class="container">
  <h2>TODOS NUESTROS PRODUCTOS</h2>
  <br />
  <div class="row">

    {{#each products}}
      <div class="col-md-6">
        <div class="card border-0 mb-5">
          <h3>{{this.title}} </h3>
          <img
            src="{{this.thumbnail}}"
            class="img-fluid"
            alt="imagen del producto"
          />
          <div class="card-body text-center">
            <h4>Precio: ${{this.price}}</h4>
            <h6>{{this.description}}</h6>
            <p>ID: {{this.id}}</p>
          </div>
          <p> ----------------------------------------------------</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>