<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <img
        src="{{product.thumbnail}}"
        alt="{{product.title}}"
        class="img-fluid"
      />
    </div>
    <div class="col-md-4">
      <h1 class="fs-1 fw-light">{{product.title}}</h1>
      <p class="fs-2 fw-light text-danger">${{product.price}}</p>
      <p><button
          class="btn btn-dark"
          onclick="agregarProductoAlCarrito('{{product._id}}')"
        >Agregar (+)</button></p>
      <p class="fw-light">{{product.description}}</p>
    </div>
  </div>
</div>   -->


<div class="container">
  <div class="row">
      <div class="col-md-6">
        <div class="card border-0 mb-5">
          <h3>{{this.title}} </h3>
          <div class="slides">
              <img
                src="{{this.thumbnail}}"
                alt="imagen del producto"
                class="img-fluid"
              />
            </a>
          </div>
          <div class="card-body text-center">
            <h4>Precio: ${{this.price}}</h4>
            <h6>{{this.description}}</h6>
            <p class="card_id">{{this.id}}</p>
            <button class="btn btn-secondary btn-block" id="addToCart">Agregar
              al carrito</button>
          </div>       
        </div>
      </div>
      </div>
  </div> 

<script src="/socket.io/socket.io.js"></script>
<script src="/js/product.js"></script>