<div class="container">
  <h2>TODOS NUESTROS PRODUCTOS</h2>
  <br />
  <div class="row">

    {{#each getProducts.payload}}
      <div class="col-md-6">
        <div class="card border-0 mb-5">
          <h3>{{this.title}} </h3>
          <div class="slides">
            <a href="/products/{{this.id}}">
              <img
                src="{{this.thumbnail}}"
                alt="imagen del producto"
                class="img-fluid"
              />
            </a>
          </div>
          <div class="card-body text-center">
            <h4>Precio: ${{this.price}}</h4>
            <h6>{{this.description}}</h6>
            <p class="card_id">{{this.id}}</p>
            <button class="btn btn-secondary btn-block" id="addToCart">Agregar
              al carrito</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="row my-5">
    <div class="col">
      <nav>
        <ul class="pagination justify-content-center">
          {{#if getProducts.hasPrevPage}}
            <li class="page-item">
              <a class="page-link" href="{{getProducts.prevLink}}">
                Anterior
              </a>
            </li>
          {{/if}}

          {{#if getProducts.hasPrevPage}}
            <li class="page-item">
              <a
                class="page-link"
                href="{{getProducts.prevLink}}"
              >{{getProducts.prevPage}}</a>
            </li>
          {{/if}}

          <li class="page-item">
            <a class="page-link">{{getProducts.page}}</a>
          </li>

          {{#if getProducts.hasNextPage}}
            <li class="page-item">
              <a
                class="page-link"
                href="{{getProducts.nextLink}}"
              >{{getProducts.nextPage}}</a>
            </li>
          {{/if}}

          {{#if getProducts.hasNextPage}}
            <li class="page-item">
              <a class="page-link" href="{{getProducts.nextLink}}">Siguiente</a>
            </li>
          {{/if}}

        </ul>
      </nav>
    </div>
  </div>
</div>

<script src="/js/products.js"></script>