<div>
  <h2>TODOS LOS PRODUCTOS</h2>
  <br /><br />
  {{#each products}}

    <h3>{{this.title}} </h3>
    <p> ----------------------------------------------------</p>
    <img src="{{this.thumbnail}}" alt="imagen del producto" />
    <h4>Precio: ${{this.price}}</h4>
    <h5>{{this.description}}</h5>
    <p>ID: {{this.id}}</p>
    <p> ----------------------------------------------------</p>

  {{/each}}
</div>

<div class="container">
  <div id="acciones" class="row mb-3">
    <div id="nuevo" class="col-md-8 mx-auto">
       <p style="color: white;"> ----------------------------------------------------</p>
      <h2>NUEVO PRODUCTO</h2>
       <p style="color: white;"> ----------------------------------------------------</p>
      <form  id="miFormulario" onsubmit>
         <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" name="title" required />
        <br /></div>
        <div class="mb-3">
        <label for="Description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="description" name="description" required />
        <br /></div>
         <div class="mb-3">
        <label for="price" class="form-label">price:</label>
        <input type="text" class="form-control" id="price" name="price" required />
        <br /></div>
        <button type="submit" class="btn btn-light">Enviar</button>
      </form>
    </div>
  <p style="color: white;"> ----------------------------------------------------</p>

  
    <div id="nuevo">
      <h2>ELIMINAR PRODUCTO</h2>
       <p style="color: white;"> ----------------------------------------------------</p>
      <form id="miFormularioDos" onsubmit>
        <label for="id">id:</label>
        <input type="text" id="id" name="id" required />
        <br /> <br>
        <button type="submit" class="btn btn-light" onclick="deleteProduct()">Enviar</button>
      </form>
    </div>

  </div>

</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>



  